#productBlock {
	padding: 10px;
}

#productBlock .venue {
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #fff;
	padding: 5px 10px;
	margin: 10px 0;
}

#productBlock .venue button {
	float: right;
}

#productBlock .venue .venue_name {
	font-weight: bold;
}

#venue-details h4 {
	font-weight: bold;
}

.venue_prods {
	/* background-color: #ffd;*/
	margin: 10px 20px;

}

.venue_prods ul {
	list-style-type: none;
	list-style-position: outside;
	margin-left: -20px;
}

.venue_prods ul li {
	margin-left: 0px;
}

.venue_prods .prod_name {
	font-weight: bold;
}

.venue_prods .prod_price {

}

.venue_prods .prod_descr {
	font-style: italic;
	font-size: 80%;
}

.venue_prods .product_head {
	font-weight: bold;
	text-decoration: underline;
}

#venue-details .location-img img{
	max-height: 100%;
	max-width: 100%;
	margin: 10px;
}