{% extends 'base.html' %}
{% block title %}Scoutr{% endblock %}
{% block maincontent %}
{% include 'inner_top.html' %}
<!-- main col left --> 
  <!-- <title>Venue/Products</title> -->
  <div class="row" style="margin-bottom:20px"> 
   <div class="col-sm-8">
     <h2>Products and Venues</h2>  
   </div>
   <div class="col-sm-4">
     <form class="form" id="zipform">
        <div class="input-group text-center">
          <input type="text" class="form-control input-lg" placeholder="New Zip Code" id="inpzip">
            <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button" id="gosearch">OK</button></span>
        </div>
      </form>
    </div>
  </div>
 <div class="col-sm-6">
   
      <div class="panel panel-default">
      

        <div id="productBlock">
          <div class="venue">
            <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
            <div class="venue_name">Starbucks Cafe</div>
            <div class="venue_address">Address</div>
            <div class="venue_phno">(212) 555-1234</div>
            <div class="venue_prods">
              <div class="product_head">Products</div>
              <ul>
                <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
                <li><span class="prod_name">Ice Cream</span>
                <li><span class="prod_name">Pancakes</span>
              </ul>
            </div>    
          </div>

          <div class="venue">
            <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
            <div class="venue_name">Other Cafe</div>
            <div class="venue_address">Addresss 2</div>
            <div class="venue_phno">(212) 555-1237</div>
            <div class="venue_prods">
              <div class="product_head">Products</div>
              <ul>
                <li><span class="prod_name">Hot dog</span>
                <li><span class="prod_name">Seollongtang</span>
                <li><span class="prod_name">Army Stew</span>
              </ul>
            </div>    
          </div>
        </div>
      </div>

   

      <div class="well"> 
           <form class="form-horizontal" role="form">
            <h4>Scoutr, I need help with:</h4>
             <div class="form-group" style="padding:14px;">
              <textarea class="form-control" placeholder="Enter topic you need help with"></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="button">Ask For Help!</button><ul class="list-inline"><li><a href=""></a><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
          </form>
      </div>
   
     
   		
   
  </div>
  
  <!-- main col right -->
  <div class="col-sm-6">
      <div class="panel panel-default" id="venue-details">
        <div class="panel-heading">
          <!-- <a href="#" class="pull-right">View all</a> -->
          <h4>Select a Location</h4>
        </div>
        <div class="panel-body">
          <div class="location-img"></div>
          <div class="location-address"></div>
          <div class="location-ph"></div>
          <div class="clearfix"></div>
          <hr>
          <div class="venue_prods" id="product-list">
              <ul>
                <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
                <li><span class="prod_name">Ice Cream</span>
                <li><span class="prod_name">Pancakes</span>
              </ul>    
          </div>
        </div>
      </div>
    
      <!-- <div class="panel panel-default" id="watch-list"> -->
        <!-- <div class="panel-heading"><h4>Product Watchlist</h4></div> -->
        <!-- <div class="panel-body"> -->
        <!-- </div> -->

                                       <div class="panel panel-default" style="margin-top:30px">
                                 <div class="panel-heading"><a href="#" class="pull-right"></a> 
                                 <h4>Product Watch List</h4>
                                 </div>
                                  <div class="panel-body">
                                  <div class="cart" >
                                           
                                            <div>
                                            <table id="cartcontent" fitColumns="true" style="width:340px;height:100px;">
                                              <thead>
                                                <tr>
                                                  <th field="name" width=140  >Name</th>
                                                  <th field="quantity" width=85 align="right">Quantity</th>
                                                  <th field="price" width=65  align="right">Price</th>
                                                </tr>
                                              </thead>
                                            </table>
                                            </div>
                                            <!--h2>Drop here to add to cart</h2-->
                                          </div>
                                  </div>
                               </div>
      </div>

      
    
    
  </div>
</div><!--/row-->


<ul class="products">
    <li>
      <a href="#" class="item">
        <!-- <img src="images/shirt1.gif"/> -->
        <div>
          <p>Balloon</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <!-- <img src="images/shirt2.gif"/> -->
        <div>
          <p>Feeling</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <!-- <img src="images/shirt3.gif"/> -->
        <div>
          <p>Elephant</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <img src="images/shirt4.gif"/>
        <div>
          <p>Stamps</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <img src="images/shirt5.gif"/>
        <div>
          <p>Monogram</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="item">
        <img src="images/shirt6.gif"/>
        <div>
          <p>Rolling</p>
          <p>Price:$25</p>
        </div>
      </a>
    </li>
  </ul>

        <!-- <title>Venue/Products</title> -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/styles.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="css/products.css"> -->
<!-- <h1>Products and Venues</h1>

<div id="productBlock">
  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Starbucks Cafe</div>
    <div class="venue_address">Address</div>
    <div class="venue_phno">(212) 555-1234</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
        <li><span class="prod_name">Ice Cream</span>
        <li><span class="prod_name">Pancakes</span>
      </ul>
    </div>    
  </div>

  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Other Cafe</div>
    <div class="venue_address">Addresss 2</div>
    <div class="venue_phno">(212) 555-1237</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Hot dog</span>
        <li><span class="prod_name">Seollongtang</span>
        <li><span class="prod_name">Army Stew</span>
      </ul>
    </div>    
  </div>
</div> -->




{% include 'inner_bot.html' %}

{% endblock %}

{% block scripts %}

<script src="{{url_for('static', filename='raw_data.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function(){
        $('.exp-contr').click(function(){
          var icon = $(this).children('i');
          if (icon.hasClass('glyphicon-chevron-down')) {
            $(this).siblings('.venue_prods').slideDown();
          } else {
            $(this).siblings('.venue_prods').slideUp();
          }
          icon.toggleClass('glyphicon-chevron-down');
          icon.toggleClass('glyphicon-chevron-up');
        });
  });


</script>
<script src="{{url_for('static', filename='js/data_mgr.js')}}"></script>
<script src="{{url_for('static', filename='js/loc_details.js')}}"></script>
<script src="{{url_for('static', filename='js/loc_switch.js')}}"></script>
<script src="{{url_for('static', filename='js/cart.js')}}"></script>
<script>
  
</script>


{% endblock %}
