{% extends 'base.html' %}
{% block title %}Scoutr{% endblock %}
{% block maincontent %}
{% include 'inner_top.html' %}
<!-- main col left --> 

<div class="row" style="margin-bottom:20px"> 
 <div class="col-sm-8"></div>
 <div class="col-sm-4">
   <form class="form">
                                    <!-- <h4>Sign-up</h4> -->
                                    <div class="input-group text-center">
                                    <input type="text" class="form-control input-lg" placeholder="Enter Zip Code">
                                      <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                                    </div>
                                  </form>


 </div>
   

</div>



                         <div class="col-sm-5">
                           
                              <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="/assets/example/bg_5.jpg" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead">Urbanization</p>
                                  <p>45 Followers, 13 Posts</p>
                                  
                                  <p>
                                    <!-- <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s28" width="28px" height="28px"> -->
                                  </p>
                                </div>
                              </div>

                           
                              <div class="panel panel-default">
                                <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
                                  <div class="panel-body">
                                    <div class="list-group">
                                      <!-- <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a> -->
                                      <!-- <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a> -->
                                      <!-- <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a> -->
                                    </div>
                                  </div>
                              </div>
                           
                              <div class="well"> 
                                   <form class="form-horizontal" role="form">
                                    <h4>What's New</h4>
                                     <div class="form-group" style="padding:14px;">
                                      <textarea class="form-control" placeholder="Update your status"></textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                                  </form>
                              </div>
                           
                              <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>More Templates</h4></div>
                                  <div class="panel-body">
                                    <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Free @Bootply</a>
                                    <div class="clearfix"></div>
                                    There a load of new free Bootstrap 3 ready templates at Bootply. All of these templates are free and don't require extensive customization to the Bootstrap baseline.
                                    <hr>
                                    <ul class="list-unstyled"><li><a href="http://www.bootply.com/templates">Dashboard</a></li><li><a href="http://www.bootply.com/templates">Darkside</a></li><li><a href="http://www.bootply.com/templates">Greenfield</a></li></ul>
                                  </div>
                              </div>
                           
                              <div class="panel panel-default">
                                <div class="panel-heading"><h4>What Is Bootstrap?</h4></div>
                               	<div class="panel-body">
                                	Bootstrap is front end frameworkto build custom web applications that are fast, responsive &amp; intuitive. It consist of CSS and HTML for typography, forms, buttons, tables, grids, and navigation along with custom-built jQuery plug-ins and support for responsive layouts. With dozens of reusable components for navigation, pagination, labels, alerts etc..                          </div>
                              </div>

                           		
                           
                          </div>
                          
                          <!-- main col right -->
                          <div class="col-sm-7">
                               
                                <div class="well"> 
                                   <form class="form">
                                    <h4>Sign-up</h4>
                                    <div class="input-group text-center">
                                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                                      <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                                    </div>
                                  </form>
                                </div>
                      
                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootply Editor &amp; Code Library</h4></div>
                                  <div class="panel-body">
                                    <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">The Bootstrap Playground</a></p>
                                    <div class="clearfix"></div>
                                    <hr>
                                    Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.
                                  </div>
                               </div>
                            
                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
                                  <div class="panel-body">
                                    <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
                                    <div class="clearfix"></div>
                                    <hr>
                                    
                                    <!-- <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p> -->
                                    
                                    <hr>
                                    <form>
                                    <div class="input-group">
                                      <div class="input-group-btn">
                                      <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Add a comment..">
                                    </div>
                                    </form>
                                    
                                  </div>
                               </div>

                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Portlet Heading</h4></div>
                                  <div class="panel-body">
                                    <ul class="list-group">
                                    <li class="list-group-item">Modals</li>
                                    <li class="list-group-item">Sliders / Carousel</li>
                                    <li class="list-group-item">Thumbnails</li>
                                    </ul>
                                  </div>
                               </div>
                            
                               <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="/assets/example/bg_4.jpg" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead">Social Good</p>
                                  <p>1,200 Followers, 83 Posts</p>
                                  
                                  <p>
                                    <!-- <img src="https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg" width="28px" height="28px"> -->
                                    <!-- <img src="https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg" width="28px" height="28px"> -->
                                    <!-- <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg" width="28px" height="28px"> -->
                                  </p>
                                </div>
                              </div>
                            
                          </div>
                                   </div><!--/row-->
        <title>Venue/Products</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="css/products.css">
<h1>Products and Venues</h1>

<div id="productBlock">
  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Starbucks Cafe</div>
    <div class="venue_address">Address</div>
    <div class="venue_phno">(212) 555-1234</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
        <li><span class="prod_name">Ice Cream</span>
        <li><span class="prod_name">Pancakes</span>
      </ul>
    </div>    
  </div>

  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Other Cafe</div>
    <div class="venue_address">Addresss 2</div>
    <div class="venue_phno">(212) 555-1237</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Hot dog</span>
        <li><span class="prod_name">Seollongtang</span>
        <li><span class="prod_name">Army Stew</span>
      </ul>
    </div>    
  </div>
</div>




        {% include 'inner_bot.html' %}

{% endblock %}

{% block scripts %}

        <script src="{{url_for('static', filename='raw_data.js')}}"></script>

<script type="text/javascript">
   $(document).ready(function(){
        var grp = [];
        
          DATA_Serfina = []
         _.forEach(DATACap360SerafinaMenu.response.menu.menus.items[0].entries.items[0].entries.items.slice(0,5), function(data) {
            var foodName  = data.name || "";
            //var price 
            //var descrip
            // console.log(foodName)
            DATA_Serfina.push(foodName);

          });

         // Loop through Capital One 360 Venues
         counter = 0;
        _.forEach(DATACap360.response.groups[0].items, function(data) {
          counter++;
          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          // console.log(DATACap360.response.groups[0].items)
          console.log(data.venue.name)});
          if (counter == 0) {
            DATA_Serifina[0]
          }

        _.forEach(DATAMeatPacking.response.groups[0].items, function(data) {

          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          // console.log(DATACap360.response.groups[0].items)
           //console.log(data.venue.name)
         });


        _.forEach(DATAStMarks.response.groups[0].items, function(data) {

          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          // console.log(DATACap360.response.groups[0].items)
           // console.log(data.venue.name)
         });

        $('.exp-contr').click(function(){
          var icon = $(this).children('i');
          if (icon.hasClass('glyphicon-chevron-down')) {
            $(this).siblings('.venue_prods').slideDown();
          } else {
            $(this).siblings('.venue_prods').slideUp();
          }
          icon.toggleClass('glyphicon-chevron-down');
          icon.toggleClass('glyphicon-chevron-up');

});
  
  });


</script>
{% endblock %}
