{% extends 'base.html' %}
{% block title %}Scoutr{% endblock %}
{% block maincontent %}
{% include 'inner_top.html' %}
<!-- main col left --> 
  <!-- <title>Venue/Products</title> -->
<div class="row" style="margin-bottom:20px"> 
 <div class="col-sm-8">
   <h2>Products and Venues</h2>  
 </div>
 <div class="col-sm-4">
   <form class="form">
      <div class="input-group text-center">
        <input type="text" class="form-control input-lg" placeholder="New Zip Code">
          <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
      </div>
    </form>
  </div>
</div>


                         <div class="col-sm-6">
                           
                              <div class="panel panel-default">
                              
                        
                                <div id="productBlock">
                                  <div class="venue">
                                    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                    <div class="venue_name">Starbucks Cafe</div>
                                    <div class="venue_address">Address</div>
                                    <div class="venue_phno">(212) 555-1234</div>
                                    <div class="venue_prods">
                                      <div class="product_head">Products</div>
                                      <ul>
                                        <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
                                        <li><span class="prod_name">Ice Cream</span>
                                        <li><span class="prod_name">Pancakes</span>
                                      </ul>
                                    </div>    
                                  </div>

                                  <div class="venue">
                                    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                    <div class="venue_name">Other Cafe</div>
                                    <div class="venue_address">Addresss 2</div>
                                    <div class="venue_phno">(212) 555-1237</div>
                                    <div class="venue_prods">
                                      <div class="product_head">Products</div>
                                      <ul>
                                        <li><span class="prod_name">Hot dog</span>
                                        <li><span class="prod_name">Seollongtang</span>
                                        <li><span class="prod_name">Army Stew</span>
                                      </ul>
                                    </div>    
                                  </div>
                                </div>
                              </div>

                           
                  
                              <div class="well"> 
                                   <form class="form-horizontal" role="form">
                                    <h4>Scoutr, I need help with:</h4>
                                     <div class="form-group" style="padding:14px;">
                                      <textarea class="form-control" placeholder="Enter topic you need help with"></textarea>
                                    </div>
                                    <button class="btn btn-primary pull-right" type="button">Ask For Help!</button><ul class="list-inline"><li><a href=""></a><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                                  </form>
                              </div>
                           
                             
                           		
                           
                          </div>
                          
                          <!-- main col right -->
                          <div class="col-sm-6">
                              
                               <div class="panel panel-default">
                                 <div class="panel-heading"><!-- <a href="#" class="pull-right">View all</a> --> <h4>Bootply Editor &amp; Code Library</h4></div>
                                  <div class="panel-body">
                                    <p><img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">The Bootstrap Playground</a></p>
                                    <div class="clearfix"></div>
                                    <hr>
                                    Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.
                                  </div>
                               </div>
                            
                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
                                  <div class="panel-body">
                                  
                                  </div>
                               </div>

                              
                            
                            
                          </div>
                                   </div><!--/row-->
        <!-- <title>Venue/Products</title> -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/styles.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="css/products.css"> -->
<!-- <h1>Products and Venues</h1>

<div id="productBlock">
  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Starbucks Cafe</div>
    <div class="venue_address">Address</div>
    <div class="venue_phno">(212) 555-1234</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Chocolate Chip Cookies</span> <span class="prod_price">($3.53)</span>
        <li><span class="prod_name">Ice Cream</span>
        <li><span class="prod_name">Pancakes</span>
      </ul>
    </div>    
  </div>

  <div class="venue">
    <button class="btn btn-default exp-contr"><i class="glyphicon glyphicon-chevron-down"></i></button>
    <div class="venue_name">Other Cafe</div>
    <div class="venue_address">Addresss 2</div>
    <div class="venue_phno">(212) 555-1237</div>
    <div class="venue_prods">
      <div class="product_head">Products</div>
      <ul>
        <li><span class="prod_name">Hot dog</span>
        <li><span class="prod_name">Seollongtang</span>
        <li><span class="prod_name">Army Stew</span>
      </ul>
    </div>    
  </div>
</div> -->




        {% include 'inner_bot.html' %}

{% endblock %}

{% block scripts %}

        <script src="{{url_for('static', filename='raw_data.js')}}"></script>

<script type="text/javascript">
   $(document).ready(function(){
        var grp = [];

        //Venues
        Cap360Venues = []
        MeatPackingVenues = []
        StMarksVenues = []

        //Menus
        Cap360SerifinaMenu = []
        Cap360PizzaMenu = []
        Cap360FelidiaMenu = []

         _.forEach(DATACap360SerafinaMenu.response.menu.menus.items[0].entries.items[0].entries.items.slice(0,5), function(data) {
            var foodName  = data.name || "";
            //var price 
            //var descrip
            // console.log(foodName)
            Cap360SerifinaMenu.push(foodName);

          });

         // Loop through Capital One 360 Venues
        _.forEach(DATACap360.response.groups[0].items, function(data) {
          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          var phone = data.venue.contact.formattedPhone || "";
          var venueInfo = [displayName, address, phone];
          Cap360Venues.push(venueInfo);
        });

          // Loop through Meat Packing Venues
        _.forEach(DATAMeatPacking.response.groups[0].items, function(data) {
          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          var phone = data.venue.contact.formattedPhone || "";
          var venueInfo = [displayName, address, phone];
          MeatPackingVenues.push(venueInfo);
         });

        // Loop through St Marks Venues
        _.forEach(DATAStMarks.response.groups[0].items, function(data) {
          var displayName  = data.venue.name || "";
          var address = data.venue.location.address || "";
          var lat = data.venue.location.lat || "";
          var lng = data.venue.location.lng || "";
          var phone = data.venue.contact.formattedPhone || "";
          var venueInfo = [displayName, address, phone];
          StMarksVenues.push(venueInfo);
         });

        $('.exp-contr').click(function(){
          var icon = $(this).children('i');
          if (icon.hasClass('glyphicon-chevron-down')) {
            $(this).siblings('.venue_prods').slideDown();
          } else {
            $(this).siblings('.venue_prods').slideUp();
          }
          icon.toggleClass('glyphicon-chevron-down');
          icon.toggleClass('glyphicon-chevron-up');

});
  
  });


</script>
{% endblock %}
